@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 20vh;
  padding: 75px;
  background: #fff;
  text-align: center;
}

.Judul {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;

  background: #FFFFFF;
  border-bottom: 1px solid #F3F3F3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);


}

header .Headgam {
  position: relative;
  display: flex;
}

header .Headgam img {
  width: 100px;
  height: 100px;
}

header .Navi {
  position: relative;
  display: flex;
  left: 200px;
}

header .Navi li {
  list-style: none;
}

header .Navi li a {
  display: inline-block;
  color: black;
  font-weight: 200;
  margin-left: 40px;
  text-decoration: none;
  border-radius: 20px;
  padding: 2px 15px;
}

header .Navi li a:hover {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

header .Navi .us {
  list-style: none;
}

header .Navi .us a {
  display: inline-block;
  color: white;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  border-radius: 20px;
  padding: 2px 15px;
  background: lightskyblue;
}

header .Navi .us a:hover {
  background: lightskyblue;
  color: white;
  text-decoration: none;
}



.Project {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}

.wrapper {
  background-color: #ffffff;
  position: absolute;
  width: 80vw;
  max-width: 46em;
  min-height: 17em;
  border-radius: 0.6em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 34%;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
  display: flex;

}

.testimonial-container {
  width: 93%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 1.8em 1.2em;

}

.wrapper button {
  font-size: 1.8em;
  height: 2.2em;
  width: 2.2em;
  background-color: #ffffff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border: none;
  color: #0a69ed;
  box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
  cursor: pointer;
  border-radius: 50%;
}

button#next {
  right: -1.1em;
}

button#prev {
  left: -1.1em;
}

.testimonial-container p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  text-align: left;
  /* or 30px */


  color: #878787;
}

.testimonial-container img {
  display: block;
  margin: 0.2em auto 2.25em auto;
  width: 4.4em;
}

.testimonial-container h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  /* identical to box height, or 30px */


  color: #CACACA;
}

.testimonial-container h6 {
  color: #bcc4da;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .wrapper {
    font-size: 14px;
  }
}

@media (max-width:991px) {

  .container {
    max-width: 100%;
  }

  header {
    padding: 0px 30px;
  }

  header .Navi {
    display: none;
  }

  header .Navi.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background: #FFFFFF;
    display: flex;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    line-height: 1.5em;
    font-variant: all-petite-caps;
  }

  .Judul {
    text-align: left;
    position: relative;
    left: 33px;
  }

  section {
    padding: 20px;
  }

  .toggle {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url(menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
  }

  .toggle.active {
    position: fixed;
    left: 40px;
    background: url(menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

  }

  footer {
    position: relative;
    bottom: 0px;
  }

  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main-content .box {
    margin: -10px 0;
  }

  .box h2 {
    visibility: hidden;
  }

  .left .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #3D4D65;
    visibility: hidden;
  } 

  

    .box .content:after {
    visibility: hidden;
  }

}


footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #24292E;
}

.main-content {
  display: flex;
}

.main-content .right {
  flex-basis: 10%;
  padding: 10px 15px;
}

.main-content .left {
  flex-basis: 57%;
  padding: 5px 20px;
}

.main-content .center {
  flex-basis: 35%;
  padding: 5px 20px;
}


.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #3D4D65;
}

.box .content1:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #3D4D65;
}



.box .content:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #FFFFFF;
  top: -10px;
}

.left .content p {
  text-align: justify;
  color: #8191A8;
  font-size: 17px;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #FFFFFF;
}

.center .content .fas {
  font-size: 17px;
  height: 45px;
  width: 30px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  color: #3D4D65;
}

.center .content .fas:hover {
  background: #FFFFFF;
}

.center .content .text {
  font-size: 17px;
  font-weight: 500;
  padding-left: 10px;
  color: #8191A8;
}

.center .content .phone {
  margin: 15px 0;
}

.right .folog {
  align-items: center;
}

.right .folog img {
  height: 140px;
  width: 132px;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}

.bottom center span {
  color: #656565;
}

.bottom center a {
  color: #f12020;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}